body {
    margin: 0;
    font-family: sans-serif;
}

h2, h3 {
    color: #512919;
}



.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background: #3A6351;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
}

.formMirror {
    display: flex;
    justify-content: space-evenly;
    background: #F4EEE0;
    padding: 50px 0;
    /* box-shadow: 0px -10px 29px rgba(0, 0, 0, 0.459) */
}

.attrSelect {
    display: flex;
    justify-content: space-around;
    width: 45%;
    align-items: center;
}

input[type='text'] {
    border: none; 
    border-bottom: 2px white solid;
    margin-left: 20px;
    padding: 5px;
    background: none;
    color: white;
    font-size: 1rem;

}

input[type='text']:focus {
    outline: none;

}

label {
    font-size: 1rem;
}

.attrContainer, .attrSelect {
    color: white;
}

.attrContainer {
    display: flex;
    justify-content: space-between;
    width: 45%;
    padding: 25px 50px 25px;
    margin: 20px 0;
    align-items: center;
    background-color: #6081738C;
    border-radius: 10px;
    box-shadow: 1px 1px 20px #0000004f;
}

.attrContainer > p {
    font-size: 1.7rem;
}

.attrsPoints > label{
    padding-right: 10px;
}


.story { 
    display: flex;
    gap: 10px;
}

#description {
    height: 113px;
    width: 303px;
    padding: 5px 10px 5px 15px;
    color: white;
    background: none;
    border: none;
    border-bottom: 2px white solid;
    border-left: 2px white solid;
    font-family: sans-serif;
    font-size: 0.85rem;

    max-height: 250px;
    max-width: 400px;
}

#description:focus {
    outline: none;
}

.helpBox {
    display: none;
    position: absolute;
    background-color: #3A6351;
    border: 1px black solid;
    padding: 25px;
    top: 10%;
    width: 30%;
    box-shadow: 3px 3px 34px #202020;
}

button {
    color: white;
    padding: 5px 10px;
    background: #E48257;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}

button:hover {
    opacity: 0.7;
    cursor: pointer
}
