@media print {
    .formContainer, .formMirror > .formEle, .formMirror > button, .results > button, .imgContainer > label, footer {
        display: none;
    }

    .results { 
        width: 100%;
        height: 100%;
    }

    .imgContainer {
        border: none;
    }
}

footer {
    background: #3A6351;
    color: beige;
    text-align: center;
    padding: 10px;
}

footer > a {
    color: #E48257;
}