@media print {
    .formContainer, .formMirror > .formEle, .formMirror > button, .results > button {
        display: none;
    }

    .results { 
        width: 100%;
        height: 100%;
    }

    .imgContainer {
        border: none;
    }

    .imgContainer > label {
        display: none;
    }
}