.charImage {
    width: 55%;
    display: flex;
    justify-content: center;
}

.imgContainer {
    object-fit: contain;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.imgContainer > img{
    width: inherit;
}

.charInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 50%;
}

.backstory {
    max-width: 80%;
}

.bioRes > h3 > span {
    font-weight: 400;
}

.attrPair > h3 > span {
    font-weight: 400;
}